/* ------------------------------------------
  BASE SITE STYLES
--------------------------------------------- */

html {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::selection {
  background: #079c4a;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

button {
	cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (min-width: 41.6875em) {body {font-size: 112.5%;}}

@media (min-width: 48em) {body {font-size: 125%;}}

@media (min-width: 126.5em) {body {font-size: 150%;}}


/* ------------------------------------------
  COLORS
---------------------------------------------

/*
  Light Green
  color: #e9f0e5;

  Medium Green
  color: #6b9f62;
  
  Dark Green
	color: #4c753f;

	Light Grey
	color: #e0e0e0;

	Medium Grey
	color: #757575;

	Dark Grey
	color: #404143;

	Black
	color: #000000;

	White
	color: #ffffff;

	Soft White
	color: #f9faf7;
*/

.text-light-green {color: #e9f0e5;}
.text-medium-green {color: #6b9f62;}
.text-dark-green {color: #4c753f;}
.text-light-grey {color: #e0e0e0;}
.text-medium-grey {color: #757575;}
.text-dark-grey {color: #404143;}
.text-black {color: #000000;}
.text-white {color: #ffffff;}
.text-soft-white {color: #f9faf7;}

.background-light-green {background: #e9f0e5;}
.background-medium-green {background: #6b9f62;}
.background-dark-green {background: #4c753f;}
.background-light-grey {background: #e0e0e0;}
.background-medium-grey {background: #757575;}
.background-dark-grey {background: #404143;}
.background-white {background: #ffffff;}
.background-soft-white {background: #f9faf7;}


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */

h1, h2, h3, p {
  width: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
	column-span: all;
}

h1 {
  margin: 0 0 0.5em;
	font-size: 1.5em;
	line-height: 1;
	column-span: all;
}

h2 {
  margin: 0 0 0.25em;
	font-size: 1.125em;
	line-height: 1.25;
}

h3 {
  margin: 0 0 1em;
	font-size: 1em;
	line-height: 1.25;
}

h1 a, h2 a, h3 a {
	font-weight: 400;
	color: #526b3c;
	opacity: 1;
}

h1 a:hover, h2 a:hover,
h1 a:focus, h2 a:focus,
h3 a:hover, h3 a:focus {color: #404143;}

p {
	margin: 0 0 1em 0;
	padding: 0;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
	font-weight: 200;
	line-height: 1.5;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
}

p:last-of-type {margin: 0;}

p a {
	font-weight: 400;
	color: #4c753f;
	opacity: 1;
}

p a:hover, p a:focus {color: #404143;}

small {
	margin: 0;
	padding: 0;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.675em;
	font-weight: inherit;
}

small a {
	font-weight: 400;
	color: #4c753f;
	opacity: 1;
}

small a:hover, small a:focus {color: #404143;}

super {
  display: inline-block;
  position: absolute;
  font-size: 30%;
}

strong, em {
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
  font-style: normal;
	font-weight: 500;
	line-height: 1.5;
}


/* ------------------------------------------
  ICONS
--------------------------------------------- */

span.icon-home, span.icon-linkedin, span.icon-location {
  display: block;
  margin-bottom: 0.25em;
  font-size: 2.5em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #4c753f;
}

span.icon-cart, span.icon-performance, span.icon-project, span.icon-portfolio {
  display: block;
  margin-bottom: 0.125em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

span.icon-idea, span.icon-tag, span.icon-share {
  display: block;
  margin-right: 0.25em;
  font-size: 1.875em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #4c753f;
}


/* ------------------------------------------
  BUTTONS
--------------------------------------------- */

a.btn-primary {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 3em;
	height: 3em;
	overflow: hidden;
	margin: 1em 0 0;
	padding: 0;
	border-radius: 4em;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
	-webkit-transition: max-width 0.3s;
	-moz-transition: max-width 0.3s;
	transition: max-width 0.3s;
}

a.btn-primary:hover, a.btn-primary:focus {max-width: 100%;}

a.btn-primary.centered {margin: 1em auto 0;}

a.btn-primary .icon-right {
  font-size: 1.5em;
  padding: 0 0 0 0.5em;
}

a.btn-primary .btn-text {
  padding: 0 1em 0 0.75em;
  text-align: left;
  transform: translateY(4em);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a.btn-primary:hover .btn-text, a.btn-primary:focus .btn-text {transform: translateY(0);}

a.btn-primary.green {
  border: 1px solid #4c753f;
  color: #4c753f;
  background-color: transparent;
}

a.btn-primary.white {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

a.btn-sign-in {
  display: inline-block;
	width: auto;
	margin: 0;
	padding: 0.75em 2em;
  border: 1px solid #4c753f;
	border-radius: 4em;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.675em;
	font-weight: 500;
	text-align: center;
  color: #4c753f;
  background-color: transparent;
}

a.btn-sign-in:hover, a.btn-sign-in:focus {
  color: #ffffff;
  background-color: #4c753f;
}

a.btn-sign-in.light {
  border: 1px solid #4c753f;
  color: #4c753f;
  background-color: transparent;
}

a.btn-sign-in.light:hover, a.btn-sign-in.light:focus {
  color: #ffffff;
  background-color: #4c753f;
}

a.btn-sign-in.dark {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

a.btn-sign-in.dark:hover, a.btn-sign-in.dark:focus {
  color: #4c753f;
  background-color: #ffffff;
}

a.btn-order-setup {
  display: inline-block;
	width: auto;
	margin: 0;
	padding: 0.75em 2em;
  border: 1px solid #4c753f;
	border-radius: 4em;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	color: #ffffff;
  background-color: #4c753f;
}

a.btn-order-setup:hover, a.btn-order-setup:focus {
  border: 1px solid #4c753f;
  color: #4c753f;
  background-color: #ffffff;
}


/* ------------------------------------------
  HEADER
--------------------------------------------- */

.auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.auto-hide-header .primary-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-108%);
  -ms-transform: translateY(-108%);
  transform: translateY(-108%);
}


/* ------------------------------------------
  PRIMARY NAVIGATION
--------------------------------------------- */

nav {display: none;}

#nav-modal {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#nav-modal ul {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2em;
  list-style: none;
  text-align: center;
}

#nav-modal ul li {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
	font-size: 1em;
	text-align: center;
}

#nav-modal ul li a {
	font-weight: 500;
  color: #404143;
}

#btn-open-modal.open-nav-modal, #btn-close-modal.close-nav-modal {color: #404143;}

#btn-open-modal.open-nav-modal.light {color: #404143;}

#btn-open-modal.open-nav-modal.dark {color: #ffffff;}

#btn-open-modal.open-nav-modal:after,
#btn-close-modal.close-nav-modal:after {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  z-index: 500;
  font-family: "gonzocons";
  font-size: 1.5em;
  cursor: pointer;
}

#btn-open-modal.open-nav-modal:after {content: "\e92a";}

#btn-close-modal.close-nav-modal:after {content: "\e913";}

@media only screen and (orientation: landscape) {
#nav-modal ul {
  width: 80%;
  margin: 0 10%;
}}

@media (min-width: 48em) {
#btn-open-modal.open-nav-modal:after,
#btn-close-modal.close-nav-modal:after {display: none;}
nav {
  display: flex;
  height: inherit;
  position: absolute;
  left: 0;
  padding: 0 0 0 2em;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	column-span: all;
}
nav li {
  display: block;
  width: initial;
  margin: 0;
  padding: 0 0.5em 0 0;
}
nav li.omit {display: none;}
nav li:last-of-type {padding: 0;}
nav li a {
  position: relative;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.625em;
	font-weight: 400;
  color: #404143;
  opacity: 1;
}
nav li a.light {color: #404143;}
nav li a.dark {color: #ffffff;}
nav li a:hover, nav li a:focus {color: #4c753f;}}

@media (min-width: 64em) {
nav li {padding: 0 1em 0 0;}
nav li.omit {display: block;}
}


/* ------------------------------------------
  SECONDARY/CATEGORY NAVIGATION
--------------------------------------------- */

.secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  background-color: #ffffff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.category-navigation {
  position: relative;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.auto-hide-header.is-hidden .category-navigation {border-bottom: 1px solid #e0e0e0;}

.category-navigation span {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  font-weight: 400;
  color: #4c753f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.category-navigation span:after {
  display: inline-block;
  padding: 0 0 0 1em;
  font-family: 'gonzocons';
  font-size: 0.625em;
  content: "\e91b";
}

.auto-hide-header.is-hidden .category-navigation span {font-size: 1em;}

.category-navigation .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  list-style: none;
  opacity: 0;
  pointer-events: none;
}

.category-navigation .dropdown li a {
  display: block;
  padding: 1em 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 2;
  text-decoration: none;
  color: #000000;
}

.category-navigation .dropdown li:hover a, .category-navigation .dropdown li:focus a {color: #4c753f;}

.category-navigation.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}


/* ------------------------------------------
  LOGO
--------------------------------------------- */

.logo a {
  display: inline-block;
  height: 4em;
}

.logo img {width: 4em;}


/* ------------------------------------------
  USER
--------------------------------------------- */

.user {display: none;}

@media (min-width: 48em) {
.user {
  display: none;
  display: inline-flex;
  position: absolute;
  right: 5%;
}
.user a.btn-primary {
  margin: 0;
  font-size: 0.625em;
}
.user.is-authenticated {
  display: inline-flex;
  display: none;
  align-items: center;
  position: absolute;
  right: 5%;
  height: inherit;
}
.name a, .rewards a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.625em;
	font-weight: 400;
  color: #404143;
  opacity: 1;
}
.name a {padding: 0 1em 0 0;}
.name a span.icon-dribbble, .rewards a span.icon-award {
  margin-top: -0.125em;
  font-size: 2.5em;
  color: #4c753f;
}
.name a:hover, .name a:focus,
.rewards a:hover, .rewards a:focus {color: #4c753f;}
.name a.light, .rewards a.light {color: #404143;}
.name a.light:hover, .name a.light:focus {color: #ffffff;}
.name a.dark, .rewards a.dark {color: #ffffff;}
.name a.dark:hover, .name a.dark:focus {color: #4c753f;}
.name a span.icon-dribbble.light, .rewards a span.icon-award.light {color: #4c753f;}
.name a span.icon-dribbble.light:hover, .rewards a span.icon-award.light:focus {color: #ffffff;}
.name a span.icon-dribbble.dark, .rewards a span.icon-award.dark {color: #ffffff;}
.name a span.icon-dribbble.dark:hover, .rewards a span.icon-award.dark:focus {color: #4c753f;}}


/* ------------------------------------------
  ORDER SETUP
--------------------------------------------- */

#order-setup-pin {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

ul.order-setup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 6.5vh;
  left: 0;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

ul.order-setup li.mobile {display: block;}

ul.order-setup li.desktop {display: none;}

ul.order-setup.expand {
  position: relative;
  bottom: 0;
}

ul.order-setup.expand li.mobile {width: 100%;}

ul.order-setup.expand li.mobile a.btn-order-setup {
  display: block;
  width: 100%;
  padding: 1em 2em;
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  font-family: 'Roboto Slab', serif;
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.25;
	text-align: left;
  background-color: #6b9f62;
}

ul.order-setup.expand li.mobile a.btn-order-setup:hover, ul.order-setup.expand li.mobile a.btn-order-setup:focus {color: #404143;}

@media (min-width: 64em) {
ul.order-setup {
  justify-content: space-between;
  position: fixed;
  bottom: 6.5vh;
  width: 85%;
  height: 5em;
  margin: 0 auto;
  padding: 0;
	font-size: 85%;
  background-color: #4c753f;
}
ul.order-setup li.mobile {display: none;}
ul.order-setup li.desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18.75%;
  height: 100%;
  border-left: 1px solid #757575;
  text-align: center;
  color: #ffffff;
}
ul.order-setup li.desktop:nth-of-type(2) {
  width: 25%;
  border-left: none;
}
ul.order-setup li.desktop a {color: #ffffff;}
ul.order-setup li.desktop a:hover, ul.order-setup li.desktop a:hover {color: #404143;}
ul.order-setup li.desktop h2 {font-weight: 300;}
ul.order-setup.expand {
  width: 100%;
  height: 6em;
  border-bottom: 1px solid #757575;
  font-size: 100%;
  background-color: #6b9f62;
}
ul.order-setup.expand li.desktop h2 {
  padding-left: 2em;
  font-weight: 300;
  text-align: left;
}}


/* ------------------------------------------
  FOOTER
--------------------------------------------- */

footer {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 1em 2em 2em;	
  background-color: #6b9f62;
}


/* ------------------------------------------
  FOOTER SITE LINKS
--------------------------------------------- */

footer .site {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

footer .site ul {
  display: inline-block;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer .site ul {
	-o-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}

footer .site ul li {
	margin: 0;
	padding: 0.5em 0;
  font-family: 'Roboto Slab', serif;
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.25;
	text-align: left;
}

footer .site ul.small {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #757575;
}

footer .site ul.small li {
	margin: 0;
	padding: 0;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 2;
}

footer .site ul li a {
  font-weight: 300;
  color: #ffffff;
}

footer .site ul.small li a {font-weight: 400;}

footer .site ul li a:hover, footer .site ul li a:focus {color: #404143;}

@media (min-width: 30em) {
footer .site {
  flex-direction: row;
  align-items: center;
  margin: 0 0 2em;
}
footer .site ul {width: 40%;}
footer .site ul.small {
  margin: 0;
  padding: 0;
  border: none;
  width: 20%;
}
footer .site ul.small li {line-height: 1.5;}}


/* ------------------------------------------
  FOOTER CONNECT LINKS
--------------------------------------------- */

footer .connect {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0 0;
  padding: 1em 0;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
}

footer .connect .email {width: 100%;}

footer .connect .email form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	width: 100%;
  margin: 1em auto 0;
  padding: 0;
}
 
.field {
  display: flex;
  flex-flow: column-reverse;
}

input {
  padding: 0 0 1em;
  border: 0;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  font-family: 'Roboto Slab', serif;
	font-size: 1em;
	font-weight: 300;
	color: #ffffff;
	background-color: transparent;
  -webkit-appearance: none;
  cursor: text;
}

input:focus {
	font-size: 1em;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder {opacity: 0;}

input:focus:-moz-placeholder {opacity: 0;}

input:focus::-moz-placeholder {opacity: 0;}

input:focus:-ms-input-placeholder {opacity: 0;}

input:focus::-ms-input-placeholder {opacity: 0;}

footer .connect .social {padding: 2em 0 0;}

footer .connect .social ul {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
	margin: 0;
	padding: 0.5em 0 0;
	list-style-type: none;
}

footer .connect .social ul li {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
}

footer .connect .social ul li a {color: #ffffff;}

footer .connect .social ul li a:hover, footer .connect .social ul li a:focus {color: #404143;}

@media (min-width: 30em) {
footer .connect {
  flex-direction: row;
  align-items: flex-start;
  border-bottom: none;
}
footer .connect .email {
  width: 60%;
  margin: 0 5% 0 0;
}
footer .connect .social {
  width: 35%;
  padding: 0;
}
footer .connect .social ul {padding: 0.5em 0 0;}}


/* ------------------------------------------
  FOOTER COPYRIGHT LINKS
--------------------------------------------- */

footer .copyright {padding: 1em 0 0;}

footer .copyright ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
	list-style-type: none;
	text-align: center;
}

footer .copyright ul li {
  margin: 0;
  padding: 0.5em 0.5em 0;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.625em;
	font-weight: 200;
	line-height: 1;
}

footer .copyright ul li a {
  font-weight: 200;
  color: #000000;
}

footer .copyright ul li a:hover, footer .copyright ul li a:focus {color: #ffffff;}

footer .copyright ul li.wide {display: none;}

footer .copyright ul li.narrow {padding: 2em 0.5em 0.5em;}

@media (min-width: 46em) {
footer .copyright ul {justify-content: flex-start;}
footer .copyright ul li.narrow {display: none;}
footer .copyright ul li.wide {display: block;}}


/* ------------------------------------------
  BLOCKQUOTES
--------------------------------------------- */

blockquote {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2em;
	text-align: center;
	color: #404143;
	background-color: #f9faf7;
	column-span: all;
}

cite {
  width: 100%;
  margin: 0;
  padding: 0 0 2em;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5;
	text-align: center;
	color: #404143;
}

cite:after {
  display: block;
  width: 50%;
  height: 1px;
  margin: 2em auto 0;
  background-color: #e0e0e0;
  content: "";
}

.quotation-mark {
  width: 100%;
  margin: 0;
  padding: 0;
	font-size: 3em;
	line-height: 1.5;
	text-align: center;
	color: #4c753f;
	column-span: all;
}

@media (min-width: 48em) {
blockquote.tall {padding: 4em 2em;}
blockquote.short {padding: 2em;}}


/* ------------------------------------------
  BANNER BASICS
--------------------------------------------- */

.banner-tall {
  display: flex;
  position: relative;
	width: 100%;
	min-height: 90vh;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-position: 71% bottom;
  background-size: cover;
}

.banner-medium {
  display: flex;
  position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-medium:after {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: "";
}

.banner-short {
  display: flex;
  position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-short:after {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: "";
}

.banner-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
}

.banner-foreground-image-outer {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner-foreground-image-inner {
  position: relative;
  top: 16%;
  width: 70%;
}

.banner-details-outer {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.banner-details-inner {padding: 2em;}

.center-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 30em) {
.banner-medium:after {padding-top: 60%;}
.banner-short:after {padding-top: 40%;}
.banner-foreground-image-outer {align-items: center;}
.banner-foreground-image-inner {
  top: 7%;
  width: 50%;
}
.banner-details-outer {align-items: center;}
.banner-details-inner {width: 50%;}
.banner-medium .banner-details-inner,
.banner-short .banner-details-inner {width: 70%;}}

@media (min-width: 48em) {
.banner-foreground-image-inner {
  top: 4%;
  width: 45%;
}
.banner-details-inner {
  width: 50%;
  padding: 2em;
}}

@media (min-width: 64em) {
.banner-medium:after {padding-top: 50%;}
.banner-short:after {padding-top: 30%;}
.banner-details-inner {width: 35%;}}


/* ------------------------------------------
  BANNER BACKGROUND IMAGE POSITIONING
--------------------------------------------- */

@media (min-width: 30em) {
.bg-center-top {background-position: center top;}
.bg-center-center {background-position: center center;}
.bg-center-bottom {background-position: center bottom;}

.bg-left-top {background-position: left top;}
.bg-left-center {background-position: left center;}
.bg-left-bottom {background-position: left bottom;}

.bg-right-top {background-position: right top;}
.bg-right-center {background-position: right center;}
.bg-right-bottom {background-position: right bottom;}}

@media (min-width: 48em) {.bg-left-top {background-position: 40% top;}}


/* ------------------------------------------
  BANNER DETAILS POSITIONING
--------------------------------------------- */

@media (min-width: 30em) {
.left {
  justify-content: flex-start;
  text-align: left;
}
.center {
  justify-content: center;
  text-align: left;
}
.right {
  justify-content: flex-end;
  text-align: left;
}}


/* ------------------------------------------
  CATEGORY DESCRIPTION
--------------------------------------------- */

.category-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2em;
	text-align: center;
}

.category-description p {font-size: 0.875em;}


/* ------------------------------------------
  CATEGORY GRID
--------------------------------------------- */

.category-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.category-grid-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 0 2em;
  text-align: center;
}

.category-grid-item img {
  position: relative;
  left: 5%;
}

.category-grid-item:nth-child(odd) {padding-right: 0.5em;}

.category-grid-item:nth-child(even) {padding-left: 0.5em;}

.category-grid-item h2 {
  font-size: 0.75em;
	color: #404143;
}

.category-grid-item p {color: #757575;}

.category-grid-brand {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 0 2em;
  padding: 3em 1.5em;
}

@media (min-width: 30em) {.category-grid-brand {padding: 2em 1.5em;}}

@media (min-width: 48em) {
.category-grid {
  justify-content: space-between;
  padding: 2em;
}
.category-grid-item {width: 28%;}
.category-grid-brand {
  width: 30%;
  padding: 2em;
}
.category-grid-item:nth-child(odd),
.category-grid-item:nth-child(even) {padding: 0 0 2em;}}

@media (min-width: 64em) {.category-grid-item h2 {font-size: 1em;}}


/* ------------------------------------------
  PRODUCT DETAILS HEADER
--------------------------------------------- */

.product-header {
  display: flex;
  position: relative;
	width: 100%;
	min-height: 80vh;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-position: 72% center;
  background-size: cover;
}

.product-header-outer {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.product-header-inner {padding: 2em;}

.product-header-inner p {
  margin: 0 0 1em;
  font-size: 0.875em;
  font-weight: 400;
}

.product-header-inner .btn-order-setup {display: none;}

@media (min-width: 30em) {
.product-header {background-position: left top;}
.product-header-outer {
  justify-content: flex-start;
  width: 50%;
}}

@media (min-width: 48em) {
.product-header {background-position: 35% top;}
.product-header-outer {align-items: center;}
.product-header-inner .btn-order-setup {display: inline-block;}}

@media (min-width: 64em) {
.product-header {background-position: left top;}
.product-header-outer {width: 40%;}}


/* ------------------------------------------
  PRODUCT DETAILS
--------------------------------------------- */

.product-details {
  display: flex;
  flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: left;
}

.product-details ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
	margin: 1em 0 0;
	padding: 0;
	font-size: 85%;
	list-style-type: none;
}

.product-details ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 2em 0 0;
  text-align: center;
}

.product-details ul li:last-of-type {margin: 0;}

.product-details ul li p {
  font-weight: 500;
  color: #4c753f;
}

@media (min-width: 48em) {
.product-details {
  margin: 0;
  padding: 3em 2em;
  text-align: center;
}
.product-details-inner {
  width: 70%;
  margin: 0 auto;
}
.product-details ul {
  justify-content: center;
  margin: 2em 0 0;
}
.product-details ul li {
	padding: 0.325em 1.5em 0.325em 0.675em;
	border-radius: 4em;
  background-color: #e9f0e5;
}}


/* ------------------------------------------
  NUTRITION & ALLERGEN DETAILS
--------------------------------------------- */

.nutrition-details {
  display: flex;
  flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: left;
}

.nutrition-details-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nutrition-values, .nutrition-notes {width: 100%;}

.nutrition-details-inner ul {
  display: block;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nutrition-details-inner ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0.75em 0;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Catamaran', sans-serif;
	font-size: 0.75em;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5;
	color: #404143;
	-o-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}

.nutrition-details-inner ul li.indent {padding-left: 1em;}

.nutrition-details-inner ul li span {font-weight: 400;}

@media (min-width: 48em) {
.nutrition-details h3 {text-align: center;}
.nutrition-details-inner ul {
  text-align: center;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}
.nutrition-details-inner ul li:last-of-type {border-bottom: 1px solid transparent;}}

@media (min-width: 64em) {
.nutrition-details-inner {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
}
.nutrition-values, .nutrition-notes {width: 40%;}
.nutrition-details-inner ul {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}}


/* ------------------------------------------
  INGREDIENTS
--------------------------------------------- */

.ingredients {padding: 2em 0;}


/* ------------------------------------------
  SUGGESTIONS
--------------------------------------------- */

.suggestions {
  display: block;
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: center;
}

.suggestions h1 {margin: 0 0 1em;}

.suggestions .category-grid {padding: 0;}

.suggestions .category-grid-item:nth-child(3) {display: none;}

@media (min-width: 48em) {.suggestions .category-grid-item:nth-child(3) {display: block;}}


/* ------------------------------------------
  GRID
--------------------------------------------- */

.grid-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10% 10% 0;
}

.grid-row-block {
  width: 100%;
  margin: 0;
  padding: 0 0 2em;
  text-align: center;
}

.grid-row-block:after {
  display: block;
  width: 20%;
  height: 1px;
  margin: 2em auto 0;
  background-color: #e0e0e0;
  content: "";
}

@media (min-width: 30em) {.grid-row {padding: 5% 5% 0;}}

@media (min-width: 35.5em) {
.grid-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid-row-block {width: 30%;}}
