/* ------------------------------------------
  @FONT-FACE
--------------------------------------------- */

@font-face {
	font-family: 'archer-book';
	src: url('../fonts/archer/archer-book.eot');
	src: url('../fonts/archer/archer-book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/archer/archer-book.woff2') format('woff2'),
		url('../fonts/archer/archer-book.woff') format('woff'),
		url('../fonts/archer/archer-book.ttf') format('truetype'),
		url('../fonts/archer/archer-book.svg#archer-book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'archer-medium';
	src: url('../fonts/archer/archer-medium.eot');
	src: url('../fonts/archer/archer-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/archer/archer-medium.woff2') format('woff2'),
		url('../fonts/archer/archer-medium.woff') format('woff'),
		url('../fonts/archer/archer-medium.ttf') format('truetype'),
		url('../fonts/archer/archer-medium.svg#archer-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'archer-semibold';
	src: url('../fonts/archer/archer-semibold.eot');
	src: url('../fonts/archer/archer-semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/archer/archer-semibold.woff2') format('woff2'),
		url('../fonts/archer/archer-semibold.woff') format('woff'),
		url('../fonts/archer/archer-semibold.ttf') format('truetype'),
		url('../fonts/archer/archer-semibold.svg#archer-semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'calibre-light';
	src: url('../fonts/calibre/calibre-light.eot');
	src: url('../fonts/calibre/calibre-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibre/calibre-light.woff2') format('woff2'),
		url('../fonts/calibre/calibre-light.woff') format('woff'),
		url('../fonts/calibre/calibre-light.ttf') format('truetype'),
		url('../fonts/calibre/calibre-light.svg#calibre-light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'calibre-regular';
	src: url('../fonts/calibre/calibre-regular.eot');
	src: url('../fonts/calibre/calibre-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibre/calibre-regular.woff2') format('woff2'),
		url('../fonts/calibre/calibre-regular.woff') format('woff'),
		url('../fonts/calibre/calibre-regular.ttf') format('truetype'),
		url('../fonts/calibre/calibre-regular.svg#calibre-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calibre-medium';
	src: url('../fonts/calibre/calibre-medium.eot');
	src: url('../fonts/calibre/calibre-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibre/calibre-medium.woff2') format('woff2'),
		url('../fonts/calibre/calibre-medium.woff') format('woff'),
		url('../fonts/calibre/calibre-medium.ttf') format('truetype'),
		url('../fonts/calibre/calibre-medium.svg#calibre-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}


/* ------------------------------------------
  PANERA ICON FONT
--------------------------------------------- */

@font-face {
  font-family: 'panera';
  src: url('../fonts/panera/panera.eot?46653855');
  src: url('../fonts/panera/panera.eot?46653855#iefix') format('embedded-opentype'),
    url('../fonts/panera/panera.woff2?46653855') format('woff2'),
    url('../fonts/panera/panera.woff?46653855') format('woff'),
    url('../fonts/panera/panera.ttf?46653855') format('truetype'),
    url('../fonts/panera/panera.svg?46653855#panera') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "panera";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow:before { content: '\e800'; }
.icon-close:before { content: '\e801'; }
.icon-my-information:before { content: '\e802'; }
.icon-navigation:before { content: '\e803'; }
.icon-rewards:before { content: '\e804'; }
.icon-search:before { content: '\e805'; }
.icon-catering:before { content: '\e806'; }
.icon-delivery:before { content: '\e807'; }
.icon-order-from-table:before { content: '\e808'; }
.icon-rapid-pick-up:before { content: '\e809'; }
.icon-facebook:before { content: '\e80a'; }
.icon-foursquare:before { content: '\e80b'; }
.icon-instagram:before { content: '\e80c'; }
.icon-pinterest:before { content: '\e80d'; }
.icon-twitter:before { content: '\e80e'; }
.icon-youtube:before { content: '\e80f'; }
.icon-bakery:before { content: '\e810'; }
.icon-breakfast:before { content: '\e811'; }
.icon-drinks:before { content: '\e812'; }
.icon-panera-kids:before { content: '\e813'; }
.icon-pasta:before { content: '\e814'; }
.icon-salads:before { content: '\e815'; }
.icon-sandwiches:before { content: '\e816'; }
.icon-soups:before { content: '\e817'; }
.icon-you-pick-2:before { content: '\e818'; }
.icon-vegetarian:before { content: '\e819'; }
.icon-plant-forward:before { content: '\e81a'; }


/* ------------------------------------------
  BASE SITE STYLES
--------------------------------------------- */

html {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::selection {
  background: #079c4a;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

/*
@media (min-width: 41.6875em) {body {font-size: 112.5%;}}

@media (min-width: 48em) {body {font-size: 125%;}}

@media (min-width: 126.5em) {body {font-size: 150%;}}
*/


/* ------------------------------------------
  COLORS
---------------------------------------------

/*
  Light Green
  color: #e9f0e5;

  Medium Green
  color: #6b9f62;

  Dark Green
  color: #4c753f;

  Warm Grey
  color: #f9faf7;

  Light Grey
  color: #ebebeb;

  Medium Grey
  color: #6f6f75;

  Dark Grey
  color: #35383d;

  Deactivated Grey
  color: #949499;

  Black
  color: #1b2314;

  White
  color: #ffffff;

  Error Red
  color: #e24844;
*/

.text-light-green {color: #e9f0e5;}
.text-medium-green {color: #6b9f62;}
.text-dark-green {color: #4c753f;}
.text-warm-grey {color: #f9faf7;}
.text-light-grey {color: #ebebeb;}
.text-medium-grey {color: #6f6f75;}
.text-dark-grey {color: #35383d;}
.text-deactivated-grey {color: #949499;}
.text-black {color: #1b2314;}
.text-white {color: #ffffff;}

.background-light-green {background-color: #e9f0e5;}
.background-medium-green {background-color: #6b9f62;}
.background-dark-green {background-color: #4c753f;}
.background-warm-grey {background-color: #f9faf7;}
.background-light-grey {background-color: #ebebeb;}
.background-medium-grey {background-color: #6f6f75;}
.background-dark-grey {background-color: #1b2314;}
.background-deactivated-grey {background-color: #949499;}
.background-white {background-color: #ffffff;}


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */

h1, h2, h3, p {
  width: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: 'archer-medium';
	font-style: normal;
	font-weight: 500;
	column-span: all;
}

h1 {
  margin: 0 0 0.5em;
	font-size: 2em;
	letter-spacing: -0.8px;
	line-height: 1;
}

h2 {
  margin: 0 0 0.5em;
	font-size: 1.5em;
	letter-spacing: -0.8px;
	line-height: 1;
}

h3 {
  margin: 0 0 1em;
	font-size: 1.375em;
	letter-spacing: -0.2px;
	line-height: 1;
}

h1 a, h2 a, h3 a {
	font-weight: 600;
	color: #4c753f;
	opacity: 1;
}

h1 a:hover, h2 a:hover,
h1 a:focus, h2 a:focus,
h3 a:hover, h3 a:focus {color: #35383d;}

p {
	margin: 0 0 1em 0;
	padding: 0;
  font-family: 'calibre-light', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.375;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
}

p:last-of-type {margin: 0;}

p a {
	font-family: 'calibre-medium';
	font-weight: 500;
	color: #4c753f;
	opacity: 1;
}

p a:hover, p a:focus {text-decoration: underline;}

small {
	margin: 0;
	padding: 0;
  font-family: 'calibre-light', sans-serif;
	font-size: 0.875em;
	font-style: normal;
	font-weight: inherit;
	line-height: 1.42857142857143;
}

small a {
	font-weight: 500;
	color: #4c753f;
	opacity: 1;
}

small a:hover, small a:focus {color: #6f6f75;}

super {
  display: inline-block;
  position: absolute;
  font-size: 30%;
}

strong, em {
  display: block;
	margin: 0 0 1em 0;
	padding: 0;
  font-family: 'calibre-regular', sans-serif;
	font-weight: normal;
	line-height: 1.375;
}

@media (min-width: 48em) {
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
}


/* ------------------------------------------
  ICONS
--------------------------------------------- */

span.icon-home, span.icon-linkedin, span.icon-location {
  display: block;
  margin-bottom: 0.25em;
  font-size: 2.5em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #4c753f;
}

span.icon-rapid-pick-up, span.icon-delivery, span.icon-order-from-table, span.icon-catering {
  display: block;
  margin-bottom: 0.125em;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

span.icon-idea, span.icon-tag, span.icon-share {
  display: block;
  margin-right: 0.25em;
  font-size: 1.875em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #4c753f;
}


/* ------------------------------------------
  BUTTONS
--------------------------------------------- */

a.btn-primary {
  display: inline-flex;
  align-items: center;
  width: auto;
	height: 2.5em;
	overflow: hidden;
	margin: 1em 0 0;
	padding: 0;
	border-radius: 4em;
  font-family: 'calibre-regular', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: max-width 0.3s;
	-moz-transition: max-width 0.3s;
	transition: max-width 0.3s;
}

.no-touch a.btn-primary {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 2.5em;
	height: 2.5em;
	overflow: hidden;
	margin: 1em 0 0;
	padding: 0;
	border-radius: 4em;
  font-family: 'calibre-regular', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: max-width 0.3s;
	-moz-transition: max-width 0.3s;
	transition: max-width 0.3s;
}

.no-touch a.btn-primary:hover, a.btn-primary:focus {max-width: 100%;}

.no-touch a.btn-primary:hover .btn-text, a.btn-primary:focus .btn-text {transform: translateY(0.15em);}

a.btn-primary.centered {margin: 1em auto 0;}

a.btn-primary .icon-right, a.btn-primary .icon-arrow, a.btn-primary .icon-youtube {
  padding: 0.25em 0 0 0.325em;
  font-size: 1.5em;
}

a.btn-primary .btn-text {
  padding: 0.25em 1em 0 0.5em;
  text-align: left;
}

.no-touch a.btn-primary .btn-text {
  padding: 0 1em 0 0.5em;
  text-align: left;
  transform: translateY(4em);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.no-touch a.btn-primary:hover .btn-text, a.btn-primary:focus .btn-text {transform: translateY(0.15em);}

a.btn-primary.green {
  border: 1px solid #4c753f;
  color: #4c753f;
  background-color: transparent;
}

a.btn-primary.white {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

a.btn-sign-in {
  display: inline-block;
	width: auto;
	height: intrinsic;
	margin: 0;
	padding: 0.75em 2em;
  border: 1px solid #4c753f;
	border-radius: 4em;
  font-family: 'calibre-regular', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: center;
  color: #4c753f;
  background-color: transparent;
	cursor: pointer;
}

a.btn-sign-in:hover, a.btn-sign-in:focus {
  color: #ffffff;
  background-color: #4c753f;
}

a.btn-sign-in.light {
  border: 1px solid #4c753f;
  color: #4c753f;
  background-color: transparent;
}

a.btn-sign-in.light:hover, a.btn-sign-in.light:focus {
  color: #ffffff;
  background-color: #4c753f;
}

a.btn-sign-in.dark {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

a.btn-sign-in.dark:hover, a.btn-sign-in.dark:focus {
  color: #4c753f;
  background-color: #ffffff;
}

a.btn-order-setup {
  display: inline-block;
	width: auto;
	margin: 0;
	padding: 0.75em 1.75em 0.425em;
  border: 1px solid #4c753f;
	border-radius: 4em;
  font-family: 'calibre-regular', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	color: #ffffff;
  background-color: #4c753f;
	cursor: pointer;
}

a.btn-order-setup:hover, a.btn-order-setup:focus {
  border: 1px solid #4c753f;
  color: #4c753f;
  background-color: #ffffff;
}

@media (min-width: 48em) {a.btn-primary {margin: 2em 0 0;}}


/* ------------------------------------------
  HEADER
--------------------------------------------- */

.auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.auto-hide-header .primary-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-108%);
  -ms-transform: translateY(-108%);
  transform: translateY(-108%);
}

@media (min-width: 64em) {.auto-hide-header, .auto-hide-header .primary-nav {height: 6em;}}


/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */

nav#nav-color {display: none;}

a#open-nav, #btn-close-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
}

#nav-modal {
  display: block;
  margin: 0;
  padding: 0;
}

#nav-modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4em 2em 1em;
}
 
#nav-modal form .field {
  display: flex;
  flex-flow: column-reverse;
}

#nav-modal form .field input {
  padding: 0 0 0.5em;
  border: 0;
  border-bottom: 1px solid #35383d;
  border-radius: 0;
	font-family: 'archer-medium';
	font-size: 1.125em;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	color: #35383d;
	background-color: transparent;
  -webkit-appearance: none;
  cursor: text;
}

#nav-modal form .field input::-webkit-input-placeholder {color: #35383d;}

#nav-modal form .field input:-moz-placeholder {color: #35383d;}

#nav-modal form .field input::-moz-placeholder {color: #35383d;}

#nav-modal form .field input:-ms-input-placeholder {color: #35383d;}

#nav-modal form .field input::-ms-input-placeholder {color: #35383d;}

#nav-modal ul {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0 2em 2em;
  list-style: none;
  text-align: center;
}

#nav-modal ul li {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 0 1em 0;
	font-family: 'archer-book';
	font-size: 1.125em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-align: left;
}

#nav-modal ul li a {
	font-weight: 500;
  color: #35383d;
}

#nav-modal ul li a:hover, #nav-modal ul li a:focus {color: #4c753f;}

#nav-modal ul.menu-categories {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  list-style: none;
  text-align: left;
}

#nav-modal ul.menu-categories li {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 0.25em 0;
  font-size: 1em;
  text-align: left;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
}

/* #nav-modal ul.menu-categories li:last-of-type, #nav-modal-wide ul.menu-categories li:last-of-type {border: none;} */

#nav-modal ul.menu-categories li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

#nav-modal ul.menu-categories p {
	margin: 0;
	padding: 0;
  font-family: 'calibre-medium', sans-serif;
	font-size: 0.75em;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	text-align: left;
	text-transform: uppercase;
	color: #6f6f75;
	column-span: all;
}

span.icon-you-pick-2, span.icon-bakery, span.icon-breakfast, span.icon-drinks, span.icon-soups, span.icon-salads, span.icon-sandwiches, span.icon-salads, span.icon-pasta, span.icon-panera-kids {
  padding-right: 0.425em;
  font-size: 2em;
}

#nav-modal ul.menu-categories li img {
  width: initial;
  height: 2em;
  margin: 0;
  padding: 0 1em 0 0;
}

#nav-modal ul.menu-categories li img.cat-icon {
  width: 2.75em;
  height: 1.5em;
}

#btn-open-modal.open-nav-modal, #btn-close-modal.close-nav-modal {color: #35383d;}

#btn-open-modal.open-nav-modal.light {color: #35383d;}

#btn-open-modal.open-nav-modal.dark {color: #ffffff;}

#btn-open-modal.open-nav-modal:after, #btn-close-modal.close-nav-modal:after {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  z-index: 500;
  font-family: "panera";
  font-size: 1.5em;
  cursor: pointer;
}

/* #btn-open-modal.open-nav-modal:after {content: "\e94f";} */    /* Search */

#btn-open-modal.open-nav-modal:after {content: "\e803";}    /* Hamburger */

#btn-close-modal.close-nav-modal:after {content: "\e801";}

@media (min-width: 48em) {#nav-modal ul.menu-categories {column-count: 2;}}

@media (min-width: 64em) {
a#open-nav, #btn-open-modal.open-nav-modal:after {display: none;}
#nav-modal ul.menu-categories:first-of-type {
  float: left;
  width: 30%;
  column-count: 1;
}
#nav-modal ul.menu-categories:last-of-type {
  float: right;
  width: 65%;
  column-count: 2;
}
#nav-modal ul li.mobile {display: none;}
nav#nav-color {display: inline-flex;}
nav {
  display: flex;
  height: inherit;
  position: absolute;
  left: 0;
  padding: 0 0 0 2em;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	column-span: all;
}
nav li {
  display: flex;
  width: initial;
  margin: 0;
  padding: 0 0.75em 0 0;
}
nav li.omit {display: none;}
nav li:last-of-type {padding: 0;}
nav li a {
  position: relative;
  font-family: 'calibre-regular', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
  color: #35383d;
  opacity: 1;
}
nav li a.light {color: #35383d;}
nav li a.dark {color: #ffffff;}
nav li a:hover, nav li a:focus {color: #4c753f;}
#nav-modal ul.menu-categories li a {
	font-family: 'archer-medium';
	font-size: 1.125em;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
  text-align: left;
}}


/* ------------------------------------------
  LOGO
--------------------------------------------- */

.logo a {
  display: inline-block;
  height: 4em;
}

.logo img {width: 4em;}

@media (min-width: 64em) {.logo img {width: 6em;}}


/* ------------------------------------------
  USER
--------------------------------------------- */

/* .user.is-authenticated {display: none;} */

.user {
  display: none;
/*   display: inline-flex; */
  align-items: center;
  position: absolute;
  right: 5%;
  height: inherit;
}

.user a.btn-primary {
  margin: 0;
  font-size: 0.625em;
}

.user.is-authenticated {
  display: inline-flex;
/*   display: none; */
  align-items: center;
  position: absolute;
  right: 1em;
  height: inherit;
}

.name a, .rewards a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'calibre-regular', sans-serif;
	font-size: 0.875em;
	font-style: normal;
	font-weight: 300;
  opacity: 1;
}

.name a span.icon-my-information, .rewards a span.icon-rewards {
  font-size: 2.5em;
  color: #4c753f;
}

.rewards {display: none;}

.name a, .rewards a, .name a span.icon-my-information, .rewards a span.icon-rewards {
  color: #35383d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.name a:hover, .name a:focus, .rewards a:hover, .rewards a:focus,
.name a:hover span.icon-my-information, .rewards a:hover span.icon-rewards,
.name a:focus span.icon-my-information, .rewards a:focus span.icon-rewards {color: #4c753f;}

.name a.light, .rewards a.light, .name a.light span.icon-my-information, .rewards a.light span.icon-rewards {color: #35383d;}

.name a.light:hover, .name a.light:focus, .rewards a.light:hover, .rewards a.light:focus,
.name a.light:hover span.icon-my-information, .rewards a.light:hover span.icon-rewards,
.name a.light:focus span.icon-my-information, .rewards a.light:focus span.icon-rewards {color: #4c753f;}

.name a.dark, .rewards a.dark, .name a.dark span.icon-my-information, .rewards a.dark span.icon-rewards {color: #ffffff;}

.name a.dark:hover, .name a.dark:focus, .rewards a.dark:hover, .rewards a.dark:focus,
.name a.dark:hover span.icon-my-information, .rewards a.dark:hover span.icon-rewards,
.name a.dark:focus span.icon-my-information, .rewards a.dark:focus span.icon-rewards {color: #ebebeb;}

@media (min-width: 48em) {
.name a {padding: 0 1em 0 0;}
.rewards {display: block;}}

@media (min-width: 64em) {.name a, .rewards a {font-size: 1em;}}


/* ------------------------------------------
  ORDER SETUP
--------------------------------------------- */

#order-setup-pin {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

ul.order-setup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 6.5vh;
  left: 0;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

ul.order-setup li.mobile {display: block;}

ul.order-setup li.desktop {display: none;}

ul.order-setup.expand {
  position: relative;
  bottom: 0;
  padding: 2em;
  border-bottom: 1px solid #4c753f;
  background-color: #6b9f62;
}

ul.order-setup.expand li.mobile {width: 100%;}

ul.order-setup.expand li.mobile a.btn-order-setup {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: 'archer-book';
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.8px;
  line-height: 1;
	text-align: left;
  background-color: #6b9f62;
}

ul.order-setup.expand li.mobile a.btn-order-setup:hover, ul.order-setup.expand li.mobile a.btn-order-setup:focus {color: #35383d;}

@media (min-width: 64em) {
ul.order-setup {
  justify-content: space-between;
  position: fixed;
  bottom: 6.5vh;
  width: 85%;
  height: 6.5em;
  margin: 0 7.5%;
  padding: 0;
	font-size: 85%;
  background-color: #4c753f;
}
ul.order-setup.expand {padding: 0 2em;}
ul.order-setup li.mobile {display: none;}
ul.order-setup li.desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18.75%;
  height: 100%;
  border-left: 1px solid #757575;
  text-align: center;
  color: #ffffff;
}
ul.order-setup li.desktop:nth-of-type(2) {
  width: 25%;
  border-left: none;
}
ul.order-setup li.desktop a {color: #ffffff;}
ul.order-setup li.desktop a:hover, ul.order-setup li.desktop a:focus {outline: none;}
ul.order-setup li.desktop a .before {
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
ul.order-setup li.desktop a .after {
  height: 0;
  color: #35383d;
  opacity: 0;
  transform: translateY(4em);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
ul.order-setup li.desktop a:hover .before, ul.order-setup li.desktop a:focus .before {
  height: 0;
  opacity: 0;
  transform: translateY(-6em);
  outline: none;
}
ul.order-setup li.desktop a:hover .after, ul.order-setup li.desktop a:focus .after {
  height: initial;
  opacity: 1;
  transform: translateY(0);
  outline: none;
}
ul.order-setup li.desktop h2 {
  margin: 0;
  font-size: 1.75em;
}
ul.order-setup li.desktop a .before p,
ul.order-setup li.desktop a .after p {
	font-family: 'calibre-regular';
	font-weight: normal;
}
ul.order-setup.expand {
  width: 100%;
  margin: 0;
  height: 6em;
  border-bottom: 1px solid #4c753f;
  font-size: 100%;
  background-color: #6b9f62;
}
ul.order-setup.expand li.desktop {border-color: #4c753f;}
ul.order-setup.expand li.desktop h2 {text-align: left;}}


/* ------------------------------------------
  FOOTER
--------------------------------------------- */

footer {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 1em 2em 2em;	
  background-color: #6b9f62;
}


/* ------------------------------------------
  FOOTER SITE LINKS
--------------------------------------------- */

footer .site {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

footer .site ul {
  display: inline-block;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer .site ul {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
	-o-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}

footer .site ul li {
	margin: 0;
	padding: 0.5em 0;
  font-family: 'archer-book';
  font-size: 1.375em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.8px;
  line-height: 1;
	text-align: left;
}

footer .site ul.small {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #4c753f;
}

footer .site ul.small li {
	margin: 0;
	padding: 0;
  font-family: 'calibre-regular', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 2;
}

footer .site ul li a {
  font-weight: inherit;
  color: #ffffff;
}

footer .site ul.small li a {font-weight: inherit;}

footer .site ul li a:hover, footer .site ul li a:focus {color: #35383d;}

@media (min-width: 30em) {
footer .site {
  flex-direction: row;
  align-items: center;
  margin: 0 0 2em;
}
footer .site ul {
  width: 40%;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
footer .site ul.small {
  margin: 0;
  padding: 0;
  border: none;
  width: 20%;
}
footer .site ul.small li {line-height: 1.5;}}


/* ------------------------------------------
  FOOTER CONNECT LINKS
--------------------------------------------- */

footer .connect {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0 0;
  padding: 1em 0;
  border-top: 1px solid #4c753f;
  border-bottom: 1px solid #4c753f;
}

footer .connect .email {width: 100%;}

footer .connect .email form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	width: 100%;
  margin: 1em auto 0;
  padding: 0;
}
 
.field {
  display: flex;
  flex-flow: column-reverse;
}

input {
  padding: 0 0 0.5em;
  border: 0;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  font-family: 'archer-book';
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.8px;
  line-height: 1;
	color: #ffffff;
	background-color: transparent;
  -webkit-appearance: none;
  cursor: text;
}

input:focus {
	font-size: 1.5em;
  outline: 0;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder {opacity: 0;}

input:focus:-moz-placeholder {opacity: 0;}

input:focus::-moz-placeholder {opacity: 0;}

input:focus:-ms-input-placeholder {opacity: 0;}

input:focus::-ms-input-placeholder {opacity: 0;}

footer .connect .social {padding: 2em 0 0;}

footer .connect .social ul {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
	margin: 0;
	padding: 0.5em 0 0;
	list-style-type: none;
}

footer .connect .social ul li {
	margin: 0;
	padding: 0;
	font-size: 1.75em;
	text-align: center;
}

footer .connect .social ul li a {color: #ffffff;}

footer .connect .social ul li a:hover, footer .connect .social ul li a:focus {color: #35383d;}

@media (min-width: 30em) {
footer .connect {
  flex-direction: row;
  align-items: flex-start;
  border-bottom: none;
}
footer .connect .email {
  width: 60%;
  margin: 0 5% 0 0;
}
footer .connect .social {
  width: 35%;
  padding: 0;
}
footer .connect .social ul {padding: 0.5em 0 0;}}


/* ------------------------------------------
  FOOTER COPYRIGHT LINKS
--------------------------------------------- */

footer .copyright {padding: 1em 0 0;}

footer .copyright ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
	list-style-type: none;
	text-align: center;
}

footer .copyright ul li {
  margin: 0;
  padding: 0.5em 0.5em 0;
  font-family: 'calibre-regular', sans-serif;
	font-size: 0.875em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
  color: #35383d;
}

footer .copyright ul li a {
  font-weight: normal;
  color: #35383d;
}

footer .copyright ul li a:hover, footer .copyright ul li a:focus {color: #ffffff;}

footer .copyright ul li.wide {display: none;}

footer .copyright ul li.narrow {padding: 2em 0.5em 0;}

@media (min-width: 30em) {footer .copyright ul li.narrow {padding: 1em 0.5em 0;}}

@media (min-width: 46em) {
footer .copyright ul {justify-content: flex-start;}
footer .copyright ul li.narrow {display: none;}
footer .copyright ul li.wide {display: block;}}


/* ------------------------------------------
  BLOCKQUOTES
--------------------------------------------- */

blockquote {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2em;
	text-align: center;
	color: #35383d;
	background-color: #f9faf7;
	column-span: all;
}

blockquote h1:before {
  display: block;
	font-family: 'archer-medium';
	font-size: 3em;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
  text-align: center;
  color: #4c753f;
  content: "\201C \00A0 \201D";
}

cite {
  width: 100%;
  margin: 0;
  padding: 0 0 2em;
  font-family: 'calibre-light', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.375;
	text-align: center;
	color: #6f6f75;
}

cite:after {
  display: block;
  width: 50%;
  height: 1px;
  margin: 2em auto 0;
  background-color: #ebebeb;
  content: "";
}

.quotation-mark {
  width: 100%;
  margin: 0;
  padding: 0;
	font-size: 3em;
	line-height: 1.5;
	text-align: center;
	color: #4c753f;
	column-span: all;
}

@media (min-width: 48em) {
blockquote.tall {padding: 4em 2em;}
blockquote.short {padding: 2em;}}


/* ------------------------------------------
  BANNER BASICS
--------------------------------------------- */

.banner-tall {
  display: flex;
  position: relative;
	width: 100%;
	min-height: 90vh;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-position: 71% bottom;
  background-size: cover;
}

.banner-medium {
  display: flex;
  position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
  background-position: 80% bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-medium:after {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: "";
}

.banner-short {
  display: flex;
  position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-short:after {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: "";
}

.banner-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2314;
  opacity: 0.2;
}

.banner-foreground-image-outer {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner-foreground-image-inner {
  position: relative;
  top: 16%;
  width: 70%;
}

.banner-details-outer {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.banner-details-inner {padding: 2em;}

.center-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 30em) {
.banner-medium:after {padding-top: 60%;}
.banner-short:after {padding-top: 40%;}
.banner-foreground-image-outer {align-items: center;}
.banner-foreground-image-inner {
  top: 7%;
  width: 50%;
}
.banner-details-outer {align-items: center;}
.banner-details-inner {width: 50%;}
.banner-medium .banner-details-inner,
.banner-short .banner-details-inner {width: 70%;}}

@media (min-width: 48em) {
.banner-foreground-image-inner {
  top: 4%;
  width: 45%;
}
.banner-details-inner {
  width: 50%;
  padding: 2em;
}}

@media (min-width: 64em) {
.banner-medium:after {padding-top: 50%;}
.banner-short:after {padding-top: 30%;}
.banner-details-inner {width: 35%;}}


/* ------------------------------------------
  BANNER BACKGROUND IMAGE POSITIONING
--------------------------------------------- */

@media (min-width: 30em) {
.bg-center-top {background-position: center top;}
.bg-center-center {background-position: center center;}
.bg-center-bottom {background-position: center bottom;}

.bg-left-top {background-position: left top;}
.bg-left-center {background-position: left center;}
.bg-left-bottom {background-position: left bottom;}

.bg-right-top {background-position: right top;}
.bg-right-center {background-position: right center;}
.bg-right-bottom {background-position: right bottom;}}

@media (min-width: 48em) {
.bg-left-top {background-position: 40% top;}
.bg-right-top {background-position: 80% top;}}


/* ------------------------------------------
  BANNER DETAILS POSITIONING
--------------------------------------------- */

@media (min-width: 30em) {
.left {
  justify-content: flex-start;
  text-align: left;
}
.center {
  justify-content: center;
  text-align: left;
}
.right {
  justify-content: flex-end;
  text-align: left;
}}


/* ------------------------------------------
  CATEGORY DESCRIPTION
--------------------------------------------- */

.category-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 6em 2em 2em;
	text-align: center;
}

@media (min-width: 48em) {.category-description {padding: 6em 6em 2em;}}

@media (min-width: 64em) {.category-description {padding: 8em 10em 2em;}}


/* ------------------------------------------
  CATEGORY GRID
--------------------------------------------- */

.category-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.category-grid-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 2em;
  padding: 0;
  text-align: center;
}

.category-grid-item img {position: relative;}

.category-grid-item:nth-child(odd) {padding-right: 0.5em;}

.category-grid-item:nth-child(even) {padding-left: 0.5em;}

.category-grid-item h2 {
  margin: 0 0 0.25em;
  font-size: 1.125em;
  line-height: 1.125;
	color: #35383d;
}

.category-grid-item p {color: #6f6f75;}

.category-grid-item a:hover h2, .category-grid-item a:focus h2, 
.category-grid-item a:hover p, .category-grid-item a:focus p {color: #4c753f}

.category-grid-brand {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 0 2em;
  padding: 3em 1.5em;
}

@media (min-width: 30em) {.category-grid-brand {padding: 2em 1.5em;}}

@media (min-width: 48em) {
.category-grid {
  justify-content: space-between;
  padding: 2em;
}
.category-grid-item {width: 30%;}
.category-grid-item h2 {
  font-size: 1.25em;
  line-height: 1.25;
}
.category-grid-brand {width: 30%;}
.category-grid-item:nth-child(odd),
.category-grid-item:nth-child(even) {padding: 0;}}

@media (min-width: 64em) {.category-grid-item h2 {font-size: 1.5em;}}


/* ------------------------------------------
  PRODUCT DETAILS HEADER
--------------------------------------------- */

.product-header {
  display: flex;
  position: relative;
	width: 100%;
	min-height: 80vh;
	margin: 0;
	padding: 0;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.product-header-outer {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.product-header-inner {
  padding: 2em;
  background: linear-gradient(0deg,rgba(255,255,255,0.5),rgba(255,255,255,0));
}

.product-header-inner p {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

.product-header-inner .btn-order-setup {display: none;}

@media (min-width: 30em) {
.product-header {background-position: left 40%;}
.product-header-outer {
  justify-content: flex-start;
  width: 50%;
}
.product-header-inner {background: transparent;}}

@media (min-width: 48em) {
.product-header {background-position: 35% 50%;}
.product-header-outer {align-items: center;}
.product-header-inner .btn-order-setup {display: inline-block;}}

@media (min-width: 64em) {
.product-header {background-position: 50% 45%;}
.product-header-outer {width: 45%;}}


/* ------------------------------------------
  PRODUCT DETAILS
--------------------------------------------- */

.product-details {
  display: flex;
  flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: left;
}

.product-details ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
	margin: 1em 0 0;
	padding: 0;
	font-size: 85%;
	list-style-type: none;
}

.product-details ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 2em 0 0;
  text-align: center;
}

.product-details ul li:last-of-type {margin: 0;}

.product-details ul li p {
  margin-top: 0.25em;
  font-weight: 500;
  color: #4c753f;
}

span.icon-plant-forward, span.icon-vegetarian {
  display: block;
  font-size: 1.875em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #4c753f;
}

@media (min-width: 48em) {
.product-details {
  margin: 0;
  padding: 3em 2em;
  text-align: center;
}
.product-details-inner {
  width: 70%;
  margin: 0 auto;
}
.product-details ul {
  justify-content: center;
  margin: 2em 0 0;
}
.product-details ul li {
	padding: 0.325em 1.5em 0.325em 0.675em;
	border-radius: 4em;
  background-color: #e9f0e5;
}}


/* ------------------------------------------
  NUTRITION & ALLERGEN DETAILS
--------------------------------------------- */

.nutrition-details {
  display: flex;
  flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: left;
}

.nutrition-details-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nutrition-values, .nutrition-notes {width: 100%;}

.nutrition-details-inner ul {
  display: block;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nutrition-details-inner ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0.75em 0 0.5em;
  border-bottom: 1px solid #ebebeb;
  font-family: 'calibre-light', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
	line-height: 1.375;
	color: #35383d;
	-o-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
}

.nutrition-details-inner ul li.indent {padding-left: 1em;}

.nutrition-details-inner ul li span {font-weight: 500;}

@media (min-width: 48em) {
.nutrition-details h3 {text-align: center;}
.nutrition-details-inner ul {
  text-align: center;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}
.nutrition-details-inner ul li:last-of-type {border-bottom: 1px solid transparent;}}

@media (min-width: 64em) {
.nutrition-details-inner {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
}
.nutrition-values, .nutrition-notes {width: 40%;}
.nutrition-details-inner ul {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}}


/* ------------------------------------------
  INGREDIENTS
--------------------------------------------- */

.ingredients {padding: 2em 0;}


/* ------------------------------------------
  SUGGESTIONS
--------------------------------------------- */

.suggestions {
  display: block;
	width: 100%;
	margin: 0;
	padding: 2em;
	text-align: center;
}

.suggestions h1 {margin: 0 0 1em;}

.suggestions .category-grid {padding: 0;}

.suggestions .category-grid-item:nth-child(3) {display: none;}

@media (min-width: 48em) {.suggestions .category-grid-item:nth-child(3) {display: block;}}


/* ------------------------------------------
  GRID
--------------------------------------------- */

.grid-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10% 10% 0;
}

.grid-row-block {
  width: 100%;
  margin: 0;
  padding: 0 0 2em;
  text-align: center;
}

.grid-row-block:after {
  display: block;
  width: 20%;
  height: 1px;
  margin: 2em auto 0;
  background-color: #ebebeb;
  content: "";
}

@media (min-width: 30em) {.grid-row {padding: 5% 5% 0;}}

@media (min-width: 35.5em) {
.grid-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid-row-block {width: 30%;}}


/* ------------------------------------------
  PROFILE HEADER
--------------------------------------------- */

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9faf7;
  width: 100%;
  margin: 0;
  padding: 6em 2em 2em;
}

.profile-header-details {
  display: block;
  width: 75%;
  margin: 0;
  padding: 0;
}

.profile-header-details p {margin: 0;}

.profile-header-avatar {
  display: block;
  width: 4em;
  margin: 0;
  padding: 0;
}

.profile-header-avatar img {
  border: 1px solid #6b9f62;
  border-radius: 50%;
}

@media (min-width: 48em) {
.profile-header {flex-direction: column-reverse;}
.profile-header-details {text-align: center;}
.profile-header-avatar {margin: 0 0 1em;}}

@media (min-width: 64em) {.profile-header {padding: 8em 2em 2em;}}


/* ------------------------------------------
  PROFILE DATA
--------------------------------------------- */

.profile-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em 2em 2em;
}


/* ------------------------------------------
  PROFILE NAVIGATION
--------------------------------------------- */

.profile-navigation {
  display: block;
  width: 100%;
}

.profile-navigation ul {
  display: inline-block;
  width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.profile-navigation ul li a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  font-family: 'calibre-light', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
	line-height: 1;
  color: #35383d;
}

.profile-navigation ul li:after {
  display: block;
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background-color: #ebebeb;
  content: "";
}

.profile-navigation ul li a span {
  margin: 0 0.5em 0 0;
  font-size: 2em;
  color: #4c753f;
}

.profile-navigation ul li a .description p {margin: 0;}

.profile-navigation ul li a .description p:first-of-type {
  font-size: 0.975em;
  font-weight: normal;
}

.profile-navigation ul li a:hover .description p, .profile-navigation ul li a:focus .description p {color: #4c753f;}

@media (min-width: 64em) {.profile-navigation {width: 35%;}}


/* ------------------------------------------
  PARALLAX
--------------------------------------------- */

.bg-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.bg-holder .content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
